.example-header-image-male{
  background-image: url('../../assets/images/maleIcon.jpg');
  background-size: cover;
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.example-header-image-female{
  background-image: url('../../assets/images/femaleIcon.jpg');
  background-size: cover;
}

.example-container {
  width: 100%;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav li {
 background-color:blue;
}
.nav li.selected {
 background-color:#000;
}

.sportsArrow{
  margin-left: 15px;
}

.nav li{
 background-color:#000;
 font-size: 1.5em;
 color: #fff;
 padding: 15px;
 /*margin-left: 10px;*/
}

.nav li.selected:hover{
 background-color:#FF7F50;
}

.insideLi {
  background-color: #0ee;
}
.myMenu {
  background-color: #000;
  /*background-color: #0ee;*/
  
}

.myHover {
    background: #000
}
.myHover span{
    color: #fff;
}

.myHover:hover {
    background: 	#FF7F50
}

.example-sidenav-content {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }