<button type="button" md-button (click)="sidenav.toggle()">
  <fa name="cog"></fa>
      toggle sidenav
    </button>
<md-sidenav-container>
  <md-sidenav [ngClass]="'myMenu'" #sidenav mode="side" opened="true">
    
    <!--<div *ngIf="auth.isAuthenticated">Welcome</div>-->

    <md-toolbar *ngIf="auth.isAuthenticated" color="primary" class="myHover" style="cursor: pointer" md-button routerLink="/user">
      <div md-card-avatar [ngClass]="getGenderStyleClass()"></div>
      <span> {{auth.name}}</span>
    </md-toolbar>

    <md-toolbar md-button routerLink="/" class="myHover" style="cursor: pointer">
      <span>MessageBord</span>
    </md-toolbar>
    <md-toolbar md-button routerLink="messages" class="myHover" style="cursor: pointer">
      <span>Messages</span>
    </md-toolbar>
    <md-toolbar md-button class="myHover" (click)="changeSubSportsVisibility()" style="cursor: pointer">
      <span>
        <fa name="list"></fa>
        Sports
        <i *ngIf="!isSportsActive()" class="fa fa-angle-left sportsArrow" aria-hidden="true"></i>
        <i *ngIf="isSportsActive()" class="fa fa-angle-down sportsArrow" aria-hidden="true"></i>
      </span>
    </md-toolbar>

    <div *ngIf="isSportsActive()">
    <ul class="nav" *ngFor="let sport of testSports">
      <li class="selected myHover insideLi" style="cursor: pointer">
        <div>
          <fa name="star-o"></fa>
          {{sport}}
        </div>
      </li>
    </ul>
</div>
    <md-toolbar *ngIf="!auth.isAuthenticated" md-button routerLink="/login" class="myHover" style="cursor: pointer">
      <span>Login</span>
    </md-toolbar>

    <md-toolbar *ngIf="auth.isAuthenticated" (click)="auth.logout()" routerLink="/" class="myHover" style="cursor: pointer">
      <span>Logout</span>
    </md-toolbar>

    <md-toolbar *ngIf="!auth.isAuthenticated" md-button routerLink="/register" class="myHover" style="cursor: pointer">
      <span>Register</span>
      
    </md-toolbar>

    <!--Drawer contentttt-->
  </md-sidenav>
  <div class="my-content">Main content


    <router-outlet>

    </router-outlet>

  </div>
</md-sidenav-container>