<md-card class="card">
    <md-card-content>

        <md-input-container>
            <input [(ngModel)]="model.firstName" mdInput placeholder="First Name">
        </md-input-container>

        <md-input-container>
            <input [(ngModel)]="model.lastName" mdInput placeholder="Last Name">
        </md-input-container>

        <md-card-actions>
            <button (click)="updateUserData()" md-raised-button color="primary">Update</button>
        </md-card-actions>
    
    

    </md-card-content>
</md-card>

<app-user-messages></app-user-messages>
<app-new-personal-message></app-new-personal-message>
<app-read-personal-message></app-read-personal-message>