<md-card class="card">
    <md-card-content>

        <md-input-container>
            <input [(ngModel)]="model.firstName" mdInput placeholder="First Name">
        </md-input-container>

        <md-input-container>
            <input [(ngModel)]="model.lastName" mdInput placeholder="Last Name">
        </md-input-container>

        <md-card-actions>
            <button (click)="updateUserData()" md-raised-button color="primary">Update</button>
        </md-card-actions>
    
    

    </md-card-content>
</md-card>

<ul> 
    <md-card class="card">
        <md-card-title>Football</md-card-title>
        <li *ngFor="let msg of model.messages">           
            <md-card-content *ngIf="msg.sport == 'football'">
                {{ msg.text }}
            </md-card-content>
        </li>
    </md-card>

    <md-card class="card">
        <md-card-title>Basketball</md-card-title>
        <li *ngFor="let msg of model.messages">           
            <md-card-content *ngIf="msg.sport == 'basketball'">
                {{ msg.text }}
            </md-card-content>
        </li>
    </md-card>

    <md-card class="card">
        <md-card-title>Volleyball</md-card-title>
        <li *ngFor="let msg of model.messages">           
            <md-card-content *ngIf="msg.sport == 'volleyball'">
                {{ msg.text }}
            </md-card-content>
        </li>
    </md-card>
</ul>
  
