<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-white post panel-shadow">
        <!--<div class="post-heading">
                        <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                </div> -->
        <div class="post-description">
          
          <div class="input-group">
            <!--<span class="input-group-addon">Add comment</span>-->
            <textarea id="msg" type="text" class="form-control" name="msg" placeholder="inser text here"
              [(ngModel)]="message.text"></textarea>
          </div>

          <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
          </div>

          <button (click)="post()" type="button" class="btn btn-primary">Send</button>

        </div>

      </div>
    </div>
  </div>
</div>