<md-card class="card">
    <md-card-content>
        <div layout="row" layout-align="space-between center">
            <span>Select a sport:</span>
            <md-select [(ngModel)]="message.sport" placeholder="Sport" class="md-no-underline" required md-no-asterisk="false">
              <md-option *ngFor="let s of sports" [value]="s">{{ s | titleCase }}</md-option>              
            </md-select>
          </div>

        <md-input-container>
            <textarea [(ngModel)]="message.text" mdInput placeholder="Message"></textarea>
        </md-input-container>

        <md-card-actions>
            <button (click)="postMessage()" md-button color="primary">POST</button>
        </md-card-actions>
    </md-card-content>
</md-card>